In [1]:
import pandas as pd

leer el excel y definir profesores,materias,horarios,salones

In [2]:
horario_Excel = pd.read_excel('horarioprb.xlsx')
horario_Excel

,Profesores,Materias,Horarios,Salones,Materias que puede dar cada profesor,Disponibilidad de horario de cada profesor,Costos Profesores,Costos Materias,Costos Horarios,Costos Salones,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,A,k,1,a,jsk,123,10,10,20,50,NaN,NaN,NaN
1,B,j,2,b,om,246,20,5,20,50,NaN,NaN,NaN
2,C,o,3,c,rns,345,20,5,20,40,NaN,NaN,NaN
3,D,r,4,d,psq,689,10,5,18,40,NaN,NaN,NaN
4,E,p,5,e,jon,986,20,10,18,50,NaN,NaN,
5,F,m,6,f,orq,135,10,10,18,50,NaN,NaN,NaN
6,G,n,7,g,rpk,468,10,5,16,40,NaN,NaN,NaN
7,H,s,8,h,pjm,136,20,5,16,40,NaN,NaN,NaN
8,I,q,9,i,jor,367,20,5,16,50,NaN,NaN,NaN

In [3]:
profesores = horario_Excel['Profesores'].tolist()
materias = horario_Excel['Materias'].tolist()
horarios = horario_Excel['Horarios'].tolist()
salones = horario_Excel['Salones'].tolist()

definir materias posibles por profesor

In [4]:
materias_p = horario_Excel['Materias que puede dar cada profesor'].tolist()

Materias_profes = {}
#que una las materias como listas ejemplo {'A': ['m1', 'm2', 'm3']}
for i in range(len(profesores)):
    Materias_profes[profesores[i]] = [j for j in materias_p[i]]

Materias_profes

{'A': ['j', 's', 'k'],
 'B': ['o', 'm'],
 'C': ['r', 'n', 's'],
 'D': ['p', 's', 'q'],
 'E': ['j', 'o', 'n'],
 'F': ['o', 'r', 'q'],
 'G': ['r', 'p', 'k'],
 'H': ['p', 'j', 'm'],
 'I': ['j', 'o', 'r']}

ahora definimos Disponibilidad profes horarios

In [5]:
dispon_horario = horario_Excel['Disponibilidad de horario de cada profesor'].tolist()

Disponibilidad_profes_horarios = {}
#que una los horarios queden de la siguiente manera: {'A': [1,2,3]}
for i in range(len(profesores)):
    Disponibilidad_profes_horarios[profesores[i]] = [j for j in str(dispon_horario[i])]
#convertir los horarios a enteros
for i in Disponibilidad_profes_horarios:
    Disponibilidad_profes_horarios[i] = [int(j) for j in Disponibilidad_profes_horarios[i]]
    
Disponibilidad_profes_horarios

{'A': [1, 2, 3],
 'B': [2, 4, 6],
 'C': [3, 4, 5],
 'D': [6, 8, 9],
 'E': [9, 8, 6],
 'F': [1, 3, 5],
 'G': [4, 6, 8],
 'H': [1, 3, 6],
 'I': [3, 6, 7]}

Definimos los costos

In [6]:
costos_profe = horario_Excel['Costos Profesores'].tolist()
costos_profes = {
    profesores[i]: costos_profe[i] for i in range(len(profesores))
}
costos_profes

{'A': 10,
 'B': 20,
 'C': 20,
 'D': 10,
 'E': 20,
 'F': 10,
 'G': 10,
 'H': 20,
 'I': 20}

In [7]:
costos_materia = horario_Excel['Costos Materias'].tolist()
costos_materias = {
    materias[i]: costos_materia[i] for i in range(len(materias))
}
costos_materias

{'k': 10, 'j': 5, 'o': 5, 'r': 5, 'p': 10, 'm': 10, 'n': 5, 's': 5, 'q': 5}

In [8]:
costos_horario = horario_Excel['Costos Horarios'].tolist()
costos_horarios = {
    horarios[i]: costos_horario[i] for i in range(len(horarios))
}
costos_horarios

{1: 20, 2: 20, 3: 20, 4: 18, 5: 18, 6: 18, 7: 16, 8: 16, 9: 16}

In [9]:
costos_salon = horario_Excel['Costos Salones'].tolist()
costos_salones = {
    salones[i]: costos_salon[i] for i in range(len(salones))
}
costos_salones

{'a': 50,
 'b': 50,
 'c': 40,
 'd': 40,
 'e': 50,
 'f': 50,
 'g': 40,
 'h': 40,
 'i': 50}

Preguntar si hay algun profesor no disponible

In [10]:
profes_eliminar = input('Ingrese los profesores a eliminar separados por comas: ')
 
if profes_eliminar == '':
    profes_eliminar = []
else:
    profes_eliminar = profes_eliminar.split(',')
    profes_eliminar = [profesor.strip() for profesor in profes_eliminar]
    #actualizar los diccionarios
    for profesor in profes_eliminar:
        Materias_profes.pop(profesor)
        Disponibilidad_profes_horarios.pop(profesor)
        costos_profes.pop(profesor)

    print(Materias_profes)
    print(Disponibilidad_profes_horarios)
    print(costos_profes)
    #eliminar d ela lista de profesores
    profesores = [profesor for profesor in profesores if profesor not in profes_eliminar]

Preguntar si hay horarios no disponibles

In [11]:
horarios_eliminar = input('Ingrese los horarios a eliminar separados por comas: ')

if horarios_eliminar == '':
    horarios_eliminar = []
else:
    horarios_eliminar = horarios_eliminar.split(',')
    horarios_eliminar = [horario.strip() for horario in horarios_eliminar]
    horarios_eliminar = [int(horario) for horario in horarios_eliminar]
    #actualizar los diccionarios
    for profesor in Disponibilidad_profes_horarios:
        Disponibilidad_profes_horarios[profesor] = [horario for horario in Disponibilidad_profes_horarios[profesor] if horario not in horarios_eliminar]
    print(Disponibilidad_profes_horarios)
    #eliminar de la lista de horarios
    horarios = [horario for horario in horarios if horario not in horarios_eliminar]
    print(horarios)

{'A': [1, 2, 3], 'B': [2, 4, 6], 'C': [3, 4, 5], 'D': [6], 'E': [6], 'F': [1, 3, 5], 'G': [4, 6], 'H': [1, 3, 6], 'I': [3, 6, 7]}
[1, 2, 3, 4, 5, 6, 7]

DEFINIR EL PROGRAMA DE PL

In [12]:
from pulp import *

prob = LpProblem("Horarios",LpMinimize)

Variables

In [13]:
profes_materias_salon_horario = LpVariable.dicts("Profes_Materias_Salon_Horario",(profesores,materias,salones,horarios),0,1,LpBinary)

Funcion Objetivo

In [14]:
prob += lpSum([profes_materias_salon_horario[p][m][s][h]*costos_profes[p] + profes_materias_salon_horario[p][m][s][h]*costos_materias[m] + profes_materias_salon_horario[p][m][s][h]*costos_horarios[h] + profes_materias_salon_horario[p][m][s][h]*costos_salones[s] for p in profesores for m in materias for h in horarios for s in salones])

Restricciones

In [15]:
#una materia solo se imparte una vez
for p in profesores:
    for m in materias:
        prob += lpSum([profes_materias_salon_horario[p][m][s][h] for h in horarios for s in salones]) <= 1

#un profesor solo puede dar una materia a la vez
for p in profesores:
    for h in horarios:
        for s in salones:
            prob += lpSum([profes_materias_salon_horario[p][m][s][h] for m in materias]) <= 1

#todas las materias se imparten una sola vez
for m in materias:
    prob += lpSum([profes_materias_salon_horario[p][m][s][h] for p in profesores for h in horarios for s in salones]) == 1

#restriccion de que materias pueden dar los profesores ejemplo profesor A solo puede dar las materias j,s,k
for p in profesores:
    for m in materias:
        if m not in Materias_profes[p]:
            prob += lpSum([profes_materias_salon_horario[p][m][s][h] for s in salones for h in horarios]) == 0

#restriccion de horarios disponibles para los profesores ejemplo profesor A solo puede dar clases en los horarios 1,2,3
for p in profesores:
    for h in horarios:
        if h not in Disponibilidad_profes_horarios[p]:
            prob += lpSum([profes_materias_salon_horario[p][m][s][h] for m in materias for s in salones]) == 0

#restriccion no se puede usar un salon en el mismo horario
for s in salones:
    for h in horarios:
        prob += lpSum([profes_materias_salon_horario[p][m][s][h] for p in profesores for m in materias]) <= 1

Solucion y visualizacion

In [16]:
prob.solve()
#print("Status:", LpStatus[prob.status])

""" for v in prob.variables():
    print(v.name, "=", v.varValue) """
#solo imprimir los valores que son 1
for v in prob.variables():
    if v.varValue == 1:
        print(v.name, "=", v.varValue)

Profes_Materias_Salon_Horario_A_j_h_3 = 1.0
Profes_Materias_Salon_Horario_C_n_c_4 = 1.0
Profes_Materias_Salon_Horario_D_q_d_6 = 1.0
Profes_Materias_Salon_Horario_D_s_h_6 = 1.0
Profes_Materias_Salon_Horario_F_o_c_5 = 1.0
Profes_Materias_Salon_Horario_G_k_g_4 = 1.0
Profes_Materias_Salon_Horario_G_p_c_6 = 1.0
Profes_Materias_Salon_Horario_G_r_d_4 = 1.0
Profes_Materias_Salon_Horario_H_m_g_6 = 1.0

Costo total

In [17]:
print("Costo total = ", value(prob.objective))

Costo total =  694.0

CREAR UN DATAFRAME DONDE SE VEA BIEN LA SOLUCION Y VOLVERLO EXCEL

In [18]:
#crear un data frame con la solucion del problema donde se vea profesor, materia, salon y horario asignado y mostrando el costo total
solucion = []
for v in prob.variables():
    if v.varValue == 1:
        #se agregan los ultimos 4 valores de la lista
        solucion.append(v.name.split('_')[-4:])
#se crea el data frame
df = pd.DataFrame(solucion, columns=['Profesor', 'Materia', 'Salon', 'Horario'])
#ahora crea las columnas respectivas para costo profesor, costo materia, costo salon, costo horario y una ultima con la suma de cada uno por fila 
df['Costo Profesor'] = df['Profesor'].map(costos_profes)
df['Costo Materia'] = df['Materia'].map(costos_materias)
df['Costo Salon'] = df['Salon'].map(costos_salones)

#se crea una columna con el costo de cada horario ejemplo si horario es 3 Costo Horario es 20 no uses map
df['Costo Horario'] = [costos_horarios[int(i)] for i in df['Horario']]


df['Costo'] = df['Costo Profesor'] + df['Costo Materia'] + df['Costo Salon'] + df['Costo Horario']
df

,Profesor,Materia,Salon,Horario,Costo Profesor,Costo Materia,Costo Salon,Costo Horario,Costo
0,A,j,h,3,10,5,40,20,75
1,C,n,c,4,20,5,40,18,83
2,D,q,d,6,10,5,40,18,73
3,D,s,h,6,10,5,40,18,73
4,F,o,c,5,10,5,40,18,73
5,G,k,g,4,10,10,40,18,78
6,G,p,c,6,10,10,40,18,78
7,G,r,d,4,10,5,40,18,73
8,H,m,g,6,20,10,40,18,88

In [19]:
# crear un archivo excel con df
from openpyxl import load_workbook

df.to_excel('solucion_horario.xlsx', index=False)
wb = load_workbook('solucion_horario.xlsx')
ws = wb.active
ws['K3'] = 'Costo Total:'
ws['L3'] = value(prob.objective)

wb.save('solucion_horario.xlsx')
wb.close()

Abrir el archivo

In [20]:
import os

#Abrir "solucion_horario.xlsx"
os.system('start excel solucion_horario.xlsx')

0